<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean definitions go here -->
   
    <bean id="UserIo" class="FlooringMastery.ui.UserIOConsoleImpl"/>
    
    <bean id="view" class="FlooringMastery.ui.FlooringView">
        <constructor-arg ref = "UserIo"/>
    </bean>
    
    <bean id="FlooringOrderDao" class="FlooringMastery.dao.FlooringOrderDaoImpl">
        <constructor-arg value = "production"/>
    </bean>
    
    <bean id="FlooringProductDao" class="FlooringMastery.dao.FlooringProductDaoImpl"/>
    <bean id="FlooringTaxesDao" class="FlooringMastery.dao.FlooringTaxesDaoImpl"/>
    <bean id="OrderNumberDao" class="FlooringMastery.dao.OrderNumberDaoImpl"/>
    
    <bean id = "serviceLayer" class="FlooringMastery.service.FlooringServiceImpl">
        <constructor-arg ref="FlooringOrderDao"/>
        <constructor-arg ref="FlooringProductDao"/>
        <constructor-arg ref="FlooringTaxesDao"/>
        <constructor-arg ref="OrderNumberDao"/>
    </bean>
    
    <bean id = "controller" class="FlooringMastery.controller.controller">
        <constructor-arg ref="serviceLayer"/>
        <constructor-arg ref="view"/>
    </bean>
  
</beans>
